@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Spartan" !important ;
    font-weight: 500;
    color: #000;
    box-sizing: border-box;
    /* overflow: hidden; */
}

section:not(:last-child) {
    margin-bottom: 8rem;
}

section:last-child {
    margin-bottom: 2rem;
}

button {
    position: relative;
    overflow: hidden;
    font-weight: 700;
    border: 0 !important;
}

button a {
    color: #fff;
    text-decoration: none;
}

button a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-color {
    background-color: rgb(255, 100, 100) !important;
    box-shadow: rgba(255, 100, 100, 0.4) 0.2rem 0.2rem,
        rgba(255, 100, 100, 0.3) 0.3rem 0.3rem,
        rgba(255, 100, 100, 0.2) 0.4rem 0.4rem,
        rgba(255, 100, 100, 0.1) 0.5rem 0.5rem,
        rgba(255, 100, 100, 0.05) 0.6rem 0.6rem;
    color: #fff !important;
}

.sheen:after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -90%;
    background: linear-gradient(
        to bottom,
        rgba(229, 172, 142, 0),
        rgba(255, 255, 255) 50%,
        rgba(229, 172, 142, 0)
    );
    transform: rotateZ(60deg) translate(-5rem, 7.5rem);
    animation: sheen 2s forwards;
    animation-iteration-count: infinite;
}

.sheen:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1rem, -28rem);
    }
}

button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3.2rem 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translate(0, 2px);
}

button:focus {
    outline: 0 !important;
}

nav {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

nav img {
    width: 3rem;
}

nav .nav-brand {
    font-weight: 700;
    font-size: 1.6rem !important;
}

nav .nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.1s ease-in-out;
}

.nav-active {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.8rem 3.2rem;
}

.section-one {
    max-height: 100%;
}

.section-one h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.section-one h1 .section-one-h1-blue {
    color: #2362aa;
}

.section-one h1 .section-one-h1-underline {
    border-bottom: 0.5rem solid #ffc400;
}

.section-one h5 .section-one-paragraph-rank {
    color: #00cc8f;
}

.section-one h5 .section-one-paragraph-green {
    color: #00b661;
}

.section-two h2,
.section-three h2,
.section-four h2,
.section-five h2,
.section-six h2,
.section-seven h2,
.section-eight h2,
.section-nine h2 {
    font-family: "Spartan", "sans-sarif";
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.section-two .section-two-intro {
    padding: 0.3rem;
    border-left: 0.3rem solid #f9b903;
}

.section-two .section-two-para p {
    font-weight: 400;
    color: #777;
}

.section-two .section-two-percent-span {
    color: #ff4500;
    font-weight: 600;
}

.section-two .section-two-thick-span {
    color: #666;
    font-weight: 700;
}

.section-three .section-three-text-box {
    width: 100vw;
    height: 15rem;
    background-color: #d9afd9;
    background-image: linear-gradient(90deg, #d9afd9 0%, #97d9e1 100%);
    font-weight: 500;
}

.section-three .section-three-text-box h5 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-three .section-three-text-box h5 span {
    font-weight: 700;
}

.section-three .section-three-image-container {
    padding: 2rem;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.section-three .icon-card {
    border: none;
    align-items: center;
}

.section-three .icon-card img {
    width: 70%;
}

.section-four .section-four-left-side-card-column .horizontal-card-image,
.section-four .section-four-right-side-card-column .horizontal-card-image {
    background-color: #000;
    width: 5rem;
    padding: 0.5rem;
}

.section-four .section-four-left-side-card-column .card,
.section-four .section-four-right-side-card-column .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.section-four .section-four-image-column img {
    width: 100%;
}

.section-five p span {
    color: #04864a;
    font-weight: 600;
    border-bottom: 0.2rem solid rgb(197, 53, 0);
}

.section-five .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12rem;
    margin-top: 3.7rem;
}

.section-five .slider-container .left-slide .flowers {
    background-color: #fd3555;
}

.section-five .slider-container .left-slide .snow {
    background-color: #2a86ba;
}

.section-five .slider-container .left-slide .castle {
    background-color: #252e33;
}

.section-five .slider-container .left-slide .eagle {
    background-color: #fd972a;
}

.section-five .slider-container .right-slide .flowers {
    background-color: #faadba;
}

.section-five .slider-container .right-slide .snow {
    background-color: #7fa8c0;
}

.section-five .slider-container .right-slide .castle {
    background-color: #363636;
}

.section-five .slider-container .right-slide .eagle {
    background-color: #ffb866;
}

.section-five .slider-container .left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.section-five .slider-container .left-slide div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.section-five .slider-container .left-slide p {
    font-size: 1rem;
}

.section-five .slider-container .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.section-five .slider-container .right-slide div {
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.section-five .slider-container .right-slide p {
    font-size: 0.8rem;
    position: relative;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.section-five .slider-container button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.section-five .slider-container button:hover {
    color: #222;
}

.section-five .slider-container button:focus {
    outline: none;
}

.section-five .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.section-five .slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.section-five .slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.section-six .section-six-intro-container {
    width: 100%;
    height: auto;
    background-image: url(../images/boy-on-books.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.section-six .section-six-button-container {
    width: 100%;
    height: auto;
    background-image: url(../images/boy-with-laptop.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.section-six .section-six-button-container .button-box {
    padding-top: 6rem;
}

.section-seven {
    height: auto;
    padding: 5rem 0;
    background-color: #c4f2ff;
}

.section-seven .card {
    line-height: 1rem;
}

.section-seven .card {
    border: none;
    padding: 0.5rem;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 1rem;
}

.section-seven .card .card-head {
    border-bottom: 0.1rem solid #000;
    margin-bottom: 1rem;
}

.section-seven .golden-card .top-tag,
.section-seven .diamond-card .top-tag {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
}

.section-seven .golden-card .top-tag {
    background-color: #fff952;
}

.section-seven .diamond-card .top-tag {
    background-color: #2ecc70;
}

.section-seven .card .tier-title h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
}

.section-seven .silver-card .card .tier-title h4 {
    color: #1153ac;
}

.section-seven .golden-card .card .tier-title h4 {
    color: #4fc717;
}

.section-seven .diamond-card .card .tier-title h4 {
    color: #f1a603;
}

.section-seven .card .tier-discription p {
    font-size: 0.9rem;
    font-weight: 500;
}

.section-seven .card .tier-discription .sessions {
    color: #233cff;
}

.section-seven .card .card-discription h5 {
    font-size: 1.1rem;
    font-weight: 700;
}

.section-seven .silver-card .card .pricing {
    margin-top: 4rem;
}

.section-seven .golden-card .card .pricing {
    margin-top: 2rem;
}

.section-seven .diamond-card .card .pricing {
    margin-top: 3rem;
}

.section-seven .card .card-discription h6 {
    color: #fff;
    max-width: fit-content;
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
}

.section-seven .golden-card .card .card-discription h6 {
    background-color: #1153ac;
}

.section-seven .diamond-card .card .card-discription h6 {
    background-color: #4fc717;
}

.section-seven .card .card-discription .card-para {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.section-seven .card .card-discription .details {
    font-size: 0.8rem;
    font-style: none;
    text-decoration: none;
    font-weight: 500;
    color: #f59417;
}

.section-seven .card .card-discription .price {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.section-seven .card .card-discription .price s {
    font-size: 1rem;
}

.section-seven .card .card-discription .price .price-blue-tag {
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0.1rem;
    background-color: #233cff;
    color: #fff;
}

.section-seven .card .card-discription .offer {
    color: #5d17eb;
    font-size: 0.75rem;
    font-weight: 500;
}

.section-seven .card .card-discription .offer-sub {
    color: #333;
    font-size: 0.65rem;
    margin-left: 10rem;
    margin-top: -1rem;
}

.section-eight table {
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.section-nine h2 span {
    font-style: italic;
}

footer {
    border-top: 0.1rem solid #000;
    padding-top: 5rem;
    font-weight: 500;
}

footer .footer-intro {
    margin-bottom: 3rem;
}

footer .nav-brand {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem !important;
}

footer .nav-brand img {
    width: 3.5rem;
}

footer p {
    color: #999;
}

footer .icons {
    align-items: center;
    justify-content: center;
}

footer .icons a {
    margin: 1rem;
}

footer .location h4 {
    font-weight: 600;
}

footer .location h6 span {
    font-weight: 700;
}

footer .footer-copyright {
    font-size: 0.8rem;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #f3fafd;
}

footer .footer-copyright p {
    color: #000080;
}

footer p a {
    color: #000080;
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    nav .nav-brand {
        font-weight: 600;
        font-size: 1.2rem !important;
    }

    nav img {
        width: 2.3rem;
    }

    section {
        margin-bottom: 4rem;
    }

    .section-four h2 {
        font-size: 2.5rem;
    }

    .section-five .slider-container button {
        font-size: 0.7rem;
        padding: 0.3rem;
    }

    .section-six
        .section-six-intro-container
        .section-six-intro-overlay-container,
    .section-six
        .section-six-button-container
        .section-six-button-overlay-container {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .section-seven .silver-card .card-discription .details {
        margin-top: 0rem;
    }

    .section-seven .diamond-card .card-discription .details {
        margin-top: 0rem;
    }

    footer .nav-brand {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem !important;
    }

    footer .nav-brand img {
        width: 3rem;
    }
}
